{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
  * Available config:
  * - remove_form_control: Allows to remove the form-control class. Use mainly
  * for checkboxes and radio buttons.
  * - utility_classes: An array of utility classes.
 */
#}
{# TODO: port #}
{%
  set input_classes = [
  remove_form_control ? '' : 'form-control',
]|merge(utility_classes ? utility_classes : [])
%}

<input{{ attributes.addClass(input_classes) }} />{{ children }}
