{#
/**
 * @file
 * Template for Blockquote component.
 *
 * Available config:
 * - text: string
 */
#}

{% set blockquote_classes = [
  'blockquote'
] %}

{% if footer %}
<figure{{ attributes }}>
  <blockquote{{ create_attribute().addClass(blockquote_classes) }}>
{% else %}
<blockquote {{ attributes.addClass(blockquote_classes) }}>
{% endif %}

    {% block text %}
      <p>{{ text }}</p>
    {% endblock %}

{% if footer %}
  </blockquote >
  <figcaption class="blockquote-footer">
    {% block footer %}
      {{ footer }}
    {% endblock %}
  </figcaption>
</figure>
{% else %}
</blockquote >
{% endif %}
