{#
/**
 * @file
 * Template for Navbar component.
 *
 * Available config:
 * - container: true | false.
 * - placement: fixed-top | fixed-bottom | sticky-top
 * - color: light | dark
 * - expand: sm | md | lg | xl
 *
 * Available blocks:
 * - branding
 * - left
 * - right
 */
#}

{% set classes = [
  'navbar',
  'navbar-expand-' ~ expand,
  color ? 'navbar-' ~ color : '',
  placement ? placement : '',
] %}

<nav{{ attributes.addClass(classes) }}>
  {% if container %}
    <div class="container">
  {% endif %}

  {% block branding %}
    {{ branding }}
  {% endblock %}

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    {% block left %}
      {{ left }}
    {% endblock %}

    {% block right %}
      {{ right }}
    {% endblock %}
  </div>

  {% if container %}
    </div>
  {% endif %}
</nav>
