
{#
/**
 * @file
 * Template for links within a dropbutton.
 * TODO: Study merging with Dropdown
 */
#}
<div {{ attributes.removeClass('dropbutton').addClass(split ? 'btn-group' : 'dropdown') }}>
  {% if split %}
    {{ button }}
  {% endif %}

  {% if links %}
    <button type="button" class="btn btn-outline-dark dropdown-toggle {{ split ? 'dropdown-toggle-split' }}" data-toggle="dropdown">
      {% if split %}
        <span class="visually-hidden">{{ 'Toggle Dropdown'|t }}</span>
      {% else %}
        {{ button }}
      {% endif %}
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      {%- for item in links -%}
        {%- if item.link -%}
          {{ item.link }}
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes }}>{{ item.text }}</span>
        {%- else -%}
          {{ item.text }}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {% endif %}
</div>
