{#
/**
 * @file
 * Template for a Nav component.
 *
 * Available config:
 * - alignment: left | right | center | vertical.
 * - style: tabs | pills
 * - fill: fill | justify
 * - dropdown: true | false : wheather to show dropdowns or not.
 * - items: array, each item contains: TODO: find notation for this
 *    - url: string
 *    - title: string
 *    - is_active: boolean
 *    - is_expanded: boolean
 *    - is_disabled: boolean
 *    - dropdown: boolean
 *    - below: object
 */
#}
{% import _self as menus %}

{% if alignment == 'right' %}
  {% set alignment = 'justify-content-end' %}
{% elseif alignment == 'center' %}
  {% set alignment = 'justify-content-center' %}
{% elseif alignment == 'vertical' %}
  {% set alignment = 'flex-column' %}
{% else %}
  {% set alignment = '' %}
{% endif %}

{% set classes = [
  'nav',
  style ? 'nav-' ~ style : '',
  alignment,
  fill ? 'nav-' ~ fill : ''
] %}

{% if items %}
  <ul{{ attributes.addClass(classes) }}>
    {% block listItems %}
      {% for item in items %}
        {%
          set item_classes = [
            'nav-item',
            item.is_expanded and below ? 'dropdown',
          ]
        %}

        {%
          set item_link_classes = [
            'nav-link',
            item.is_disabled ? 'disabled',
            item.is_active ? 'active'
          ]
        %}

        <li{{ attributes.addClass(item_classes) }}>
          {% if item.is_expanded and item.below and item.dropdown %}
            {{ link(
                item.title,
                item.url,
                {
                  'class': item_link_classes|merge(['dropdown-toggle']),
                  'data-bs-toggle': 'dropdown'
                }
              )
            }}
            {% if item.below %}
              {% include 'radix:dropdown' with {
                items: item.below
              } %}
            {% endif %}
          {% else %}
            {{ link(item.title, item.url, { 'class': item_link_classes }) }}
          {% endif %}
        </li>
      {% endfor %}
    {% endblock %}
  </ul>
{% endif %}

