{#
/**
 * @file
 * Template for the branding block.
 */
#}
{% embed 'radix:block' with {
  html_tag: 'div',
  attributes: attributes.addClass('block--system-branding cacafuti')
} %}

  {% block content %}
    {% include 'radix:brand' with {
      text: site_name,
      image: site_logo,
      width: 30,
      height: 'auto',
      path: path('<front>'),
      alt: elements.content.site_name['#markup'] ~ ' logo' ,
    } only %}
  {% endblock %}

{% endembed %}
