{#
/**
 * @file
 * Template for the comment field.
 */
#}
<section{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {{ comments }}

  {% if comment_form %}
    {% include "radix:card" with {
      title: 'Add new comment'|t,
      text: comment_form
    } %}
  {% endif %}

</section>
