{#
/**
 * @file
 * Template for a Figure.
 */
#}
{% embed 'radix:figure' with {
  caption: caption,
  attributes: attributes.addClass(classes)
} %}
  {% block image %}
    {{ node }}
  {% endblock %}
{% endembed %}
