{#
/**
 * @file
 * Template for Alert component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - heading: string,
 * - dimissible: true | false
 * - content: string
 * - attributes: Drupal Attribute object.
 */
#}
{% set dismissible = dismissible ?? true %}
{% set alert_classes = [
  'alert',
  type ? 'alert-' ~ type,
  dismissible ? 'alert-dismissible',
] %}

<div{{ attributes.addClass(alert_classes) }} role="alert">
  {% if heading %}
    <h4 class="alert-heading">{{ heading }}</h4>
  {% endif %}

  {% block content %}
    {{ content }}
  {% endblock %}

  {% if dismissible %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  {% endif %}
</div>
