{#
/**
 * @file
 * Template for a Card component.
 *
 * Available config:
 * - title: string
 * - subtitle: string
 * - heading_level: 1 | 2 | 3 | 4 | 5 | 6
 * - text: string
 * - header_title: string
 * - footer_title: string
 */
#}

{% set heading_level = heading_level ?? 5 %}

{% set classes = [
  'card'
] %}

<div{{ attributes.addClass(classes) }}>

  {% block header %}
    {% if header_title %}
      <div class="card-header">
        {{ header_title }}
      </div>
    {% endif %}
  {% endblock %}


  {% block body %}
    <div class="card-body">
      {% if title %}
        <h{{ heading_level }} class="card-title">{{ title }}</h{{ heading_level }}>
      {% endif %}

      {% if subtitle %}
        <h{{ heading_level + 1 }} class="card-subtitle">{{ subtitle }}</h{{ heading_level + 1}}>
      {% endif %}

      {% if text %}
        <p class="card-text">{{ text }}</p>
      {% endif %}
    </div>
  {% endblock %}

  {% block footer %}
    {% if footer_title %}
      <div class="card-footer">
        {{ footer_title }}
      </div>
    {% endif %}
  {% endblock %}
</div>
