{#
/**
 * @file
 * Template for an Image component.
 *
 * Available config:
 * - align: left|right|center
 * - responsive: true|false
 */
#}
{% set classes = [
  responsive ? 'img-fluid' : 'img-thumbnail',
  align == 'left' ? 'float-start',
  align == 'right' ? 'float-end',
  align == 'center' ? 'mx-auto d-block',
] %}

{# TODO: Port to SDC component, consider merging with figure #}
<img{{ attributes.addClass(classes) }} />
