{#
/**
 * @file
 * Template for a Breadcrumb component.
 *
 * Available config:
 * - breadcrumb: An array of breadcrumb items. Each one contains the following:
 *   - url: string
 *   - text: string
 */
#}

{% set classes = [
  'breadcrumb'
] %}

<nav aria-label="breadcrumb">
  <ol{{ attributes.addClass(classes) }}>
    {% for item in breadcrumb %}
      <li class="breadcrumb-item {{ not item.url ? 'active' }}">
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
